/*moje*/
.container-grid {
    margin-left: 5%;
    margin-right: 5%;
}

a:hover {
    text-decoration: none;
    font-size: 120%;
!important;
}

.logo {
    size: 20px;
    color: black;
    font-weight: bold;
}

.icon {
    vertical-align: bottom;
    width: 8%;
}

.actual_score {
    text-align: right;
    right: 10%;
    color: #da0006;
    font-weight: 900;
    font-size: 20px;
}

.game-action {
    position: absolute;
    top: 1%;
    right: 2%;
    padding: 10px;

}

.game-action-buttons {
    position: absolute;
    right: 3%;
    text-align: end;
    bottom: 20%;
}

.form-button {
    padding: 2px;
}

.table-div {
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.table-design-comments {
    border-radius: 15px;
    border-top-right-radius: 0px;
    overflow: hidden;
}

.table-design-score {
    border-radius: 15px;
    overflow: hidden;
}

.login-bar {
    position: absolute;
    right: 5%;
}

.gamedimension {
    width: 40px;
}

.borders {
    border-right: 5px black solid;
    border-top: 5px black solid;
    border-top-right-radius: 25px;
    height: 80%;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.comments-grid {
    height: 100%;
}

.game_field {
    border: black 2px solid;
    background: #fff;
    box-shadow: 5px 10px 14px 4px rgba(205, 205, 205, 0.94);
    border-radius: 20px;
}

.play_menu {
    border-radius: 15px;
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    height: 80%;
    background-color: #fff;
    color: #9f1500;
    font-weight: 900;
    font-size: 20px;
    box-shadow: 5px 10px 14px 4px rgba(205, 205, 205, 0.94);
}

.thead-dark th {
    border-top: none;
    border-color: white;
}

td {
    padding: 5px;
}

body {
    font-family: 'Balsamiq Sans', cursive !important;
}

html {
    background-color: #fff !important;
    height: 100%;
}

/*
Rating css
*/
.rating {
    width: 60%;
    margin: auto;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
    line-height: 1;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating-normal{
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating-mark{
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}